table, tr, td{
    border: black solid 1px;
}
.tableGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    display: inline-block;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
#arrayInputTables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#prologue{
    text-align: center;
}
#formGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: solid 1px black;
}
button{
    width: 20%;
}
select{
    width: 50%;
}
#dropdownArea{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
}
label{
    display: block;
}